# Introducing Pandas

At the very basic level, Pandas objects can be thought of as enhanced versions of NumPy structured arrays in which the rows and columns are identified with labels rather than simple integer indices.
As we will see during the course of this chapter, Pandas provides a host of useful tools, methods, and functionality on top of the basic data structures, but nearly everything that follows will require an understanding of what these structures are.

|Python Data Structure|Numpy Data Creations |Pandas Data Structure|
|---------------------|---------------------|---------------------|
|Python List          | Vectors             |Series        |
|Python Tuple         | Martix /Array       |DataFrame     |
|Python Set           | Image               |Panels        |
|Pytohn Dict          | Tensor              |              |

Thus, before we go any further, let's introduce these three fundamental Pandas data structures: the ``Series``, ``DataFrame``, and ``Index``.

We will start our code sessions with the standard NumPy and Pandas imports:
![image](https://lh3.googleusercontent.com/-hWtJzm7U4l8/XPdm8Te_bpI/AAAAAAAAdFE/xIfnVx8jD58FEb-NWfGiLWFeDWD3xnU8ACK8BGAs/s0/2019-06-04.png)

In [2]:
import numpy as np
import pandas as pd

In [3]:
a = (10,'Names',20,30,40,'Python','age',2j+3)
Se= pd.Series(a)
Se

0        10
1     Names
2        20
3        30
4        40
5    Python
6       age
7    (3+2j)
dtype: object

In [4]:
Se.shape

(8,)

In [5]:
Se.ndim

1

In [6]:
Se.size

8

In [7]:
Se.itemsize

c:\users\kumar\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Series.itemsize is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

8

In [8]:
Se.data

c:\users\kumar\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Series.data is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

In [9]:
Se.dtype

dtype('O')

## The Pandas Series Object

A Pandas ``Series`` is a one-dimensional array of indexed data.
It can be created from a list or array as follows:

In [10]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [11]:
Data = np.random.rand(50)
Data

array([0.14028975, 0.06368107, 0.76859811, 0.71150247, 0.67412204,
       0.21242799, 0.49546024, 0.12689422, 0.24284456, 0.28228752,
       0.58160244, 0.97461701, 0.02581049, 0.61248294, 0.67555867,
       0.78799885, 0.09396356, 0.79779429, 0.86297943, 0.55662762,
       0.23477939, 0.50387716, 0.85949123, 0.62623315, 0.19606111,
       0.51538703, 0.77715718, 0.31112977, 0.1982679 , 0.99639679,
       0.79552159, 0.67649092, 0.24087055, 0.40343875, 0.28973983,
       0.22326341, 0.20210715, 0.21718904, 0.81499482, 0.97266331,
       0.52838659, 0.76671512, 0.235479  , 0.99566865, 0.86788013,
       0.85003171, 0.71539734, 0.19972106, 0.83698816, 0.27027462])

In [12]:
Data = pd.Series(Data)
Data

0     0.140290
1     0.063681
2     0.768598
3     0.711502
4     0.674122
5     0.212428
6     0.495460
7     0.126894
8     0.242845
9     0.282288
10    0.581602
11    0.974617
12    0.025810
13    0.612483
14    0.675559
15    0.787999
16    0.093964
17    0.797794
18    0.862979
19    0.556628
20    0.234779
21    0.503877
22    0.859491
23    0.626233
24    0.196061
25    0.515387
26    0.777157
27    0.311130
28    0.198268
29    0.996397
30    0.795522
31    0.676491
32    0.240871
33    0.403439
34    0.289740
35    0.223263
36    0.202107
37    0.217189
38    0.814995
39    0.972663
40    0.528387
41    0.766715
42    0.235479
43    0.995669
44    0.867880
45    0.850032
46    0.715397
47    0.199721
48    0.836988
49    0.270275
dtype: float64

In [13]:
Data.describe()

count    50.000000
mean      0.520183
std       0.295106
min       0.025810
25%       0.234954
50%       0.542507
75%       0.785288
max       0.996397
dtype: float64

In [14]:
Data.head()  # top 5 Row

0    0.140290
1    0.063681
2    0.768598
3    0.711502
4    0.674122
dtype: float64

In [15]:
Data.tail()  # Last 5 rows

45    0.850032
46    0.715397
47    0.199721
48    0.836988
49    0.270275
dtype: float64

As we see in the output, the ``Series`` wraps both a sequence of values and a sequence of indices, which we can access with the ``values`` and ``index`` attributes.
The ``values`` are simply a familiar NumPy array:

In [16]:
Data.values

array([0.14028975, 0.06368107, 0.76859811, 0.71150247, 0.67412204,
       0.21242799, 0.49546024, 0.12689422, 0.24284456, 0.28228752,
       0.58160244, 0.97461701, 0.02581049, 0.61248294, 0.67555867,
       0.78799885, 0.09396356, 0.79779429, 0.86297943, 0.55662762,
       0.23477939, 0.50387716, 0.85949123, 0.62623315, 0.19606111,
       0.51538703, 0.77715718, 0.31112977, 0.1982679 , 0.99639679,
       0.79552159, 0.67649092, 0.24087055, 0.40343875, 0.28973983,
       0.22326341, 0.20210715, 0.21718904, 0.81499482, 0.97266331,
       0.52838659, 0.76671512, 0.235479  , 0.99566865, 0.86788013,
       0.85003171, 0.71539734, 0.19972106, 0.83698816, 0.27027462])

The ``index`` is an array-like object of type ``pd.Index``, which we'll discuss in more detail momentarily.

In [17]:
Data.index

RangeIndex(start=0, stop=50, step=1)

Like with a NumPy array, data can be accessed by the associated index via the familiar Python square-bracket notation:

In [18]:
Data[1]

0.06368107218450036

In [19]:
Data[1:3]

1    0.063681
2    0.768598
dtype: float64

In [20]:
Data[0:3:2]

0    0.140290
2    0.768598
dtype: float64

As we will see, though, the Pandas ``Series`` is much more general and flexible than the one-dimensional NumPy array that it emulates.

### ``Series`` as generalized NumPy array

From what we've seen so far, it may look like the ``Series`` object is basically interchangeable with a one-dimensional NumPy array.
The essential difference is the presence of the index: while the Numpy Array has an *implicitly defined* integer index used to access the values, the Pandas ``Series`` has an *explicitly defined* index associated with the values.

This explicit index definition gives the ``Series`` object additional capabilities. For example, the index need not be an integer, but can consist of values of any desired type.
For example, if we wish, we can use strings as an index:

In [21]:
data = pd.Series(np.random.rand(6),   
                 index=['a', 'b', 'c', 'd','e',"f"]) # Explicity index
data

a    0.422539
b    0.528791
c    0.397269
d    0.014742
e    0.295044
f    0.151671
dtype: float64

In [22]:
data[0]

0.4225393063314026

In [23]:
data['a']

0.4225393063314026

And the item access works as expected:

In [24]:
data['b']

0.5287913429187869

In [25]:
data['b':'e']

b    0.528791
c    0.397269
d    0.014742
e    0.295044
dtype: float64

In [26]:
data['a': :2]

a    0.422539
c    0.397269
e    0.295044
dtype: float64

We can even use non-contiguous or non-sequential indices:

In [27]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [28]:
data[5]

0.5

### Series as specialized dictionary

In this way, you can think of a Pandas ``Series`` a bit like a specialization of a Python dictionary.
A dictionary is a structure that maps arbitrary keys to a set of arbitrary values, and a ``Series`` is a structure which maps typed keys to a set of typed values.
This typing is important: just as the type-specific compiled code behind a NumPy array makes it more efficient than a Python list for certain operations, the type information of a Pandas ``Series`` makes it much more efficient than Python dictionaries for certain operations.

The ``Series``-as-dictionary analogy can be made even more clear by constructing a ``Series`` object directly from a Python dictionary:

In [29]:
population_dict = {'Andhara Pradesh': 38332521,
                   'Delhi': 26448193,
                   'New Delhi': 19651127,
                   'Mumbia': 19552860,
                   'Kerala': 12882135
                  }
population_dict

{'Andhara Pradesh': 38332521,
 'Delhi': 26448193,
 'New Delhi': 19651127,
 'Mumbia': 19552860,
 'Kerala': 12882135}

In [30]:
population = pd.Series(population_dict)
population

Andhara Pradesh    38332521
Delhi              26448193
New Delhi          19651127
Mumbia             19552860
Kerala             12882135
dtype: int64

By default, a ``Series`` will be created where the index is drawn from the sorted keys.
From here, typical dictionary-style item access can be performed:

In [31]:
population['Andhara Pradesh']

38332521

In [32]:
population[0]

38332521

Unlike a dictionary, though, the ``Series`` also supports array-style operations such as slicing:

In [33]:
population['Andhara Pradesh':'Mumbia']

Andhara Pradesh    38332521
Delhi              26448193
New Delhi          19651127
Mumbia             19552860
dtype: int64

In [34]:
population[0:5]

Andhara Pradesh    38332521
Delhi              26448193
New Delhi          19651127
Mumbia             19552860
Kerala             12882135
dtype: int64

In [35]:
population['Andhara Pradesh':'Kerala':3]

Andhara Pradesh    38332521
Mumbia             19552860
dtype: int64

We'll discuss some of the quirks of Pandas indexing and slicing in [Data Indexing and Selection](03.02-Data-Indexing-and-Selection.ipynb).

### Constructing Series objects

We've already seen a few ways of constructing a Pandas ``Series`` from scratch; all of them are some version of the following:

```python
>>> pd.Series(data, index=index)
```

where ``index`` is an optional argument, and ``data`` can be one of many entities.

For example, ``data`` can be a list or NumPy array, in which case ``index`` defaults to an integer sequence:

In [36]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

``data`` can be a scalar, which is repeated to fill the specified index:

In [37]:
pd.Series(55, index=[100, 200, 300])

100    55
200    55
300    55
dtype: int64

``data`` can be a dictionary, in which ``index`` defaults to the sorted dictionary keys:

In [38]:
pd.Series({2:'apple', 1:'bat', 3:'cat'})

2    apple
1      bat
3      cat
dtype: object

In each case, the index can be explicitly set if a different result is preferred:

In [39]:
D = pd.Series({2:'apple', 1:'bat', 3:'cat'}, index=[2,3])
D

2    apple
3      cat
dtype: object

Notice that in this case, the ``Series`` is populated only with the explicitly identified keys.

In [40]:
D.ndim

1

In [41]:
D.shape

(2,)

In [42]:
D.dtype

dtype('O')

In [43]:
D.size

2

In [44]:
D.itemsize

c:\users\kumar\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Series.itemsize is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

8

In [45]:
D.data

c:\users\kumar\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Series.data is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

In [46]:
D.values

array(['apple', 'cat'], dtype=object)

In [47]:
D.index

Int64Index([2, 3], dtype='int64')

## The Pandas DataFrame Object

The next fundamental structure in Pandas is the ``DataFrame``.
Like the ``Series`` object discussed in the previous section, the ``DataFrame`` can be thought of either as a generalization of a NumPy array, or as a specialization of a Python dictionary.
We'll now take a look at each of these perspectives.
![](images/DataFrameslogo.png)

### DataFrame as a generalized NumPy array
If a ``Series`` is an analog of a one-dimensional array with flexible indices, a ``DataFrame`` is an analog of a two-dimensional array with both flexible row indices and flexible column names.
Just as you might think of a two-dimensional array as an ordered sequence of aligned one-dimensional columns, you can think of a ``DataFrame`` as a sequence of aligned ``Series`` objects.
Here, by "aligned" we mean that they share the same index.

To demonstrate this, let's first construct a new ``Series`` listing the area of each of the five states discussed in the previous section:

In [48]:
area_dict = {'Andhara Pradesh': 423967, 'Delhi': 695662, 'New Delhi': 141297,
             'Mumbia': 170312, 'Kerala': 149995}
area = pd.Series(area_dict)
area

Andhara Pradesh    423967
Delhi              695662
New Delhi          141297
Mumbia             170312
Kerala             149995
dtype: int64

In [49]:
population

Andhara Pradesh    38332521
Delhi              26448193
New Delhi          19651127
Mumbia             19552860
Kerala             12882135
dtype: int64

Now that we have this along with the ``population`` Series from before, we can use a dictionary to construct a single two-dimensional object containing this information:

In [51]:
states = pd.DataFrame({'Population': population,
                       'Area': area})
states

                 Population    Area
Andhara Pradesh    38332521  423967
Delhi              26448193  695662
New Delhi          19651127  141297
Mumbia             19552860  170312
Kerala             12882135  149995

Like the ``Series`` object, the ``DataFrame`` has an ``index`` attribute that gives access to the index labels:

In [52]:
states.index

Index(['Andhara Pradesh', 'Delhi', 'New Delhi', 'Mumbia', 'Kerala'], dtype='object')

Additionally, the ``DataFrame`` has a ``columns`` attribute, which is an ``Index`` object holding the column labels:

In [53]:
states.columns

Index(['Population', 'Area'], dtype='object')

Additionally, the ``DataFrame`` has to Find the diminsion of the data from Numpy  a ``ndim``:

In [54]:
states.ndim

2

In [55]:
states.shape

(5, 2)

Generate descriptive statistics that summarize the central tendency,
dispersion and shape of a dataset's distribution, excluding
``NaN`` values

In [56]:
states.describe()

         Population           Area
count  5.000000e+00       5.000000
mean   2.337337e+07  316246.600000
std    9.640386e+06  242437.411951
min    1.288214e+07  141297.000000
25%    1.955286e+07  149995.000000
50%    1.965113e+07  170312.000000
75%    2.644819e+07  423967.000000
max    3.833252e+07  695662.000000

head is Used for Return the first `n` rows.

This function returns the first `n` rows for the object based
on position. It is useful for quickly testing if your object
has the right type of data in it.

In [57]:
states.head()

                 Population    Area
Andhara Pradesh    38332521  423967
Delhi              26448193  695662
New Delhi          19651127  141297
Mumbia             19552860  170312
Kerala             12882135  149995

Return the last `n` rows.

This function returns last `n` rows from the object based on
position. It is useful for quickly verifying data, for example,
after sorting or appending rows.

In [58]:
states.tail()

                 Population    Area
Andhara Pradesh    38332521  423967
Delhi              26448193  695662
New Delhi          19651127  141297
Mumbia             19552860  170312
Kerala             12882135  149995

This method prints information about a DataFrame including
the index dtype and column dtypes, `non-null` values and memory usage.

In [59]:
states.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Andhara Pradesh to Kerala
Data columns (total 2 columns):
Population    5 non-null int64
Area          5 non-null int64
dtypes: int64(2)
memory usage: 280.0+ bytes

This is index for Series, columns for DataFrame and major_axis for

In [60]:
states.keys()

Index(['Population', 'Area'], dtype='object')

Iterates over the DataFrame columns, returning a tuple with
the column name and the content as a Series.

In [61]:
states.items

<bound method DataFrame.items of                  Population    Area
Andhara Pradesh    38332521  423967
Delhi              26448193  695662
New Delhi          19651127  141297
Mumbia             19552860  170312
Kerala             12882135  149995>

In [62]:
states.dtypes

Population    int64
Area          int64
dtype: object

In [63]:
states.columns

Index(['Population', 'Area'], dtype='object')

Thus the ``DataFrame`` can be thought of as a generalization of a two-dimensional NumPy array, where both the rows and columns have a generalized index for accessing the data.

### DataFrame as specialized dictionary

Similarly, we can also think of a ``DataFrame`` as a specialization of a dictionary.
Where a dictionary maps a key to a value, a ``DataFrame`` maps a column name to a ``Series`` of column data.
For example, asking for the ``'area'`` attribute returns the ``Series`` object containing the areas we saw earlier:

In [64]:
states

                 Population    Area
Andhara Pradesh    38332521  423967
Delhi              26448193  695662
New Delhi          19651127  141297
Mumbia             19552860  170312
Kerala             12882135  149995

In [67]:
states['Area']

Andhara Pradesh    423967
Delhi              695662
New Delhi          141297
Mumbia             170312
Kerala             149995
Name: Area, dtype: int64

In [69]:
states['Area'][0]

423967

In [71]:
states['Population']

Andhara Pradesh    38332521
Delhi              26448193
New Delhi          19651127
Mumbia             19552860
Kerala             12882135
Name: Population, dtype: int64

In [72]:
states['Population'][0]

38332521

Notice the potential point of confusion here: in a two-dimesnional NumPy array, ``data[0]`` will return the first *row*. For a ``DataFrame``, ``data['col0']`` will return the first *column*.
Because of this, it is probably better to think about ``DataFrame``s as generalized dictionaries rather than generalized arrays, though both ways of looking at the situation can be useful.
We'll explore more flexible means of indexing ``DataFrame``s in [Data Indexing and Selection](03.02-Data-Indexing-and-Selection.ipynb).

### Constructing DataFrame objects

A Pandas ``DataFrame`` can be constructed in a variety of ways.
Here we'll give several examples.

#### From a single Series object

A ``DataFrame`` is a collection of ``Series`` objects, and a single-column ``DataFrame`` can be constructed from a single ``Series``:

In [73]:
population

Andhara Pradesh    38332521
Delhi              26448193
New Delhi          19651127
Mumbia             19552860
Kerala             12882135
dtype: int64

In [74]:
a = pd.DataFrame(population)
a

                        0
Andhara Pradesh  38332521
Delhi            26448193
New Delhi        19651127
Mumbia           19552860
Kerala           12882135

In [75]:
a[0]

Andhara Pradesh    38332521
Delhi              26448193
New Delhi          19651127
Mumbia             19552860
Kerala             12882135
Name: 0, dtype: int64

In [82]:
a  = pd.DataFrame(population,columns=['Populations'])
a

                 Populations
Andhara Pradesh     38332521
Delhi               26448193
New Delhi           19651127
Mumbia              19552860
Kerala              12882135

In [84]:
a['Populations']

Andhara Pradesh    38332521
Delhi              26448193
New Delhi          19651127
Mumbia             19552860
Kerala             12882135
Name: Populations, dtype: int64

#### From a list of dicts

Any list of dictionaries can be made into a ``DataFrame``.
We'll use a simple list comprehension to create some data:

In [99]:
data = [{'a': i, 'b': 2 * i,'c':3+i}
        
        for i in range(1,6)]
type(data)

list

In [100]:
data

[{'a': 1, 'b': 2, 'c': 4},
 {'a': 2, 'b': 4, 'c': 5},
 {'a': 3, 'b': 6, 'c': 6},
 {'a': 4, 'b': 8, 'c': 7},
 {'a': 5, 'b': 10, 'c': 8}]

In [101]:
data[0]

{'a': 1, 'b': 2, 'c': 4}

In [102]:
df = pd.DataFrame(data)

In [96]:
df

   a   b  c
0  1   2  4
1  2   4  5
2  3   6  6
3  4   8  7
4  5  10  8

In [103]:
df['c'][0]

4

Even if some keys in the dictionary are missing, Pandas will fill them in with ``NaN`` (i.e., "not a number") values:

In [104]:
df2=pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4},{'c':10}])
df2

     a    b     c
0  1.0  2.0   NaN
1  NaN  3.0   4.0
2  NaN  NaN  10.0

In [105]:
df2['a']

0    1.0
1    NaN
2    NaN
Name: a, dtype: float64

In [106]:
df2['a'][1]

nan

In [107]:
df2['a'][1]*3

nan

#### From a dictionary of Series objects

As we saw before, a ``DataFrame`` can be constructed from a dictionary of ``Series`` objects as well:

In [108]:
pd.DataFrame({'population': population,
              'area': area})

                 population    area
Andhara Pradesh    38332521  423967
Delhi              26448193  695662
New Delhi          19651127  141297
Mumbia             19552860  170312
Kerala             12882135  149995

#### From a two-dimensional NumPy array

Given a two-dimensional array of data, we can create a ``DataFrame`` with any specified column and index names.
If omitted, an integer index will be used for each:

In [110]:
df3 = pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])
df3

        foo       bar
a  0.452977  0.139888
b  0.114695  0.349152
c  0.760218  0.698001

In [111]:
df3['foo'][0]

0.45297708430254047

In [112]:
df3['foo']['a']

0.45297708430254047

In [113]:
Data = np.arange(24).reshape(6,4)
Df4 = pd.DataFrame(Data,columns=['Col1','Col2','Col3','Col4'])
Df4

   Col1  Col2  Col3  Col4
0     0     1     2     3
1     4     5     6     7
2     8     9    10    11
3    12    13    14    15
4    16    17    18    19
5    20    21    22    23

#### From a NumPy structured array

We covered structured arrays in  Numpy,
A Pandas ``DataFrame`` operates much like a structured array, and can be created directly from one:

In [114]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [115]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

In [116]:
b = np.ones(4, dtype=[('A', 'i8'), ('B', 'f8'),('C','complex128')])
b

array([(1, 1., 1.+0.j), (1, 1., 1.+0.j), (1, 1., 1.+0.j), (1, 1., 1.+0.j)],
      dtype=[('A', '<i8'), ('B', '<f8'), ('C', '<c16')])

In [117]:
pd.DataFrame(b)

   A    B                   C
0  1  1.0  1.000000+0.000000j
1  1  1.0  1.000000+0.000000j
2  1  1.0  1.000000+0.000000j
3  1  1.0  1.000000+0.000000j

## The Pandas Index Object

We have seen here that both the ``Series`` and ``DataFrame`` objects contain an explicit *index* that lets you reference and modify data.
This ``Index`` object is an interesting structure in itself, and it can be thought of either as an *immutable array* or as an *ordered set* (technically a multi-set, as ``Index`` objects may contain repeated values).
Those views have some interesting consequences in the operations available on ``Index`` objects.
As a simple example, let's construct an ``Index`` from a list of integers:

In [118]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

### Index as immutable array

The ``Index`` in many ways operates like an array.
For example, we can use standard Python indexing notation to retrieve values or slices:

In [119]:
ind[1]

3

In [120]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

``Index`` objects also have many of the attributes familiar from NumPy arrays:

In [121]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

One difference between ``Index`` objects and NumPy arrays is that indices are immutable–that is, they cannot be modified via the normal means:

This immutability makes it safer to share indices between multiple ``DataFrame``s and arrays, without the potential for side effects from inadvertent index modification.

### Index as ordered set

Pandas objects are designed to facilitate operations such as joins across datasets, which depend on many aspects of set arithmetic.
The ``Index`` object follows many of the conventions used by Python's built-in ``set`` data structure, so that unions, intersections, differences, and other combinations can be computed in a familiar way:

In [122]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [123]:
indA & indB  # intersection

Int64Index([3, 5, 7], dtype='int64')

In [124]:
indA | indB  # union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [125]:
indA ^ indB  # symmetric difference

Int64Index([1, 2, 9, 11], dtype='int64')

These operations may also be accessed via object methods, for example ``indA.intersection(indB)``.


## Descriptive 

A descriptive statistic is a summary statistic that quantitatively describes or summarizes features of a collection of information, while descriptive statistics in the mass noun sense is the process of using and analyzing those statistics

1. Head
2. tail
3. describer
4. Index
5. keys
6. Values
7. shape
8. Info (Only in Data Frames)