## Series:

![Data](images/DataSeriecs.PNG)

In [1]:
# import pandas as pd
import pandas as pd
 
# import numpy as np
import numpy as np

# simple numpy array
data = np.array(['g','r','a','t','np.nan','P','e','n'])
 
ser = pd.Series(data)
print(ser)

0         g
1         r
2         a
3         t
4    np.nan
5         P
6         e
7         n
dtype: object

In [2]:
import pandas as pd
 
# a simple list
list1 = ['S', 'I', 'M', 'P', 'L','T','O','L','E','A','R','N']
  
# create series form a list
ser = pd.Series(list1)
print(ser)

0     S
1     I
2     M
3     P
4     L
5     T
6     O
7     L
8     E
9     A
10    R
11    N
dtype: object

In [9]:
# Accessing Element from Series with Position 
# creating simple array
data = np.array(['g','r','e','a','Z','t','f', 'o','r','L','e','a','r','n'])
ser = pd.Series(data)
#retrieve the first element
print(ser[:5])
# head Info
import pandas as pdd
#print(ser.head(10))

# Info
print(ser.describe())

0    g
1    r
2    e
3    a
4    Z
dtype: object
count     14
unique    10
top        r
freq       3
dtype: object

In [17]:
Data = pd.Series(np.arange(5),index=['A','B','C','D','E'])
Data.head(1)
Data.tail(2)
print(Data)
Data.describe()

A    0
B    1
C    2
D    3
E    4
dtype: int32

count    5.000000
mean     2.000000
std      1.581139
min      0.000000
25%      1.000000
50%      2.000000
75%      3.000000
max      4.000000
dtype: float64

#### Accessing Element Using Label (index)

In [18]:
# import pandas and numpy 
import pandas as pd
import numpy as np
 
# creating simple array
data = np.array(['g','R','A','T','P','E', 'o','p','l','e','s','or','DF'])
ser = pd.Series(data,index=[10,11,12,13,14,15,16,17,18,19,20,21,22])
  
  
# accessing a element using index element
print(ser[16])

o

![Series](images/Serices.png)

In [32]:
name= dict({'NAME':['RAJU','RANI','Suresh','Hari'],'Age':[20,30,25,30]})
se = pd.Series(name)
se.ndim
se.shape

(2,)

In [23]:
se["NAME"][1]

'RANI'

### Indexing and Selecting Data in Series

In [24]:
# using indexing operator
data[3:4]

array(['T'], dtype='<U2')

In [30]:
# importing pandas module  
import pandas as pd  

# making data frame  
Data = pd.read_csv("Data/nba.csv")
#print(Data.head())
#print(Data) 
Ser= pd.Series(Data['Age'])
Ser

0      25
1      25
2      27
3      22
4      29
5      29
6      21
7      25
8      22
9      22
10     24
11     27
12     27
13     20
14     26
15     27
16     24
17     28
18     21
19     32
20     22
21     26
22     23
23     28
24     21
25     26
26     25
27     26
28     28
29     27
       ..
427    20
428    25
429    23
430    24
431    27
432    23
433    28
434    34
435    24
436    25
437    24
438    23
439    26
440    30
441    20
442    28
443    23
444    24
445    20
446    24
447    23
448    26
449    23
450    28
451    26
452    20
453    26
454    24
455    26
456    26
Name: Age, Length: 457, dtype: int64

#### Indexing a Series using .loc[ ] :

In [34]:
# importing pandas module  
import pandas as pd  
     
# making data frame  
df = pd.read_csv("Data/nba.csv")  
   
ser = pd.Series(df['Name']) 
data = ser.head()
data

0    Avery Bradley
1      Jae Crowder
2     John Holland
3      R.J. Hunter
4    Jonas Jerebko
Name: Name, dtype: object

In [46]:
#Now we access the element of series using .loc[] function.
# using .loc[] function
data.loc[1:4:2]
data[1:5:2]

1    Jae Crowder
3    R.J. Hunter
Name: Name, dtype: object

#### Indexing a Series using .iloc[ ] :

In [43]:
ser = pd.Series(df['Name']) 
data = ser.head(10)
data

0    Avery Bradley
1      Jae Crowder
2     John Holland
3      R.J. Hunter
4    Jonas Jerebko
5     Amir Johnson
6    Jordan Mickey
7     Kelly Olynyk
8     Terry Rozier
9     Marcus Smart
Name: Name, dtype: object

In [44]:
# using .iloc[] function (len-1)
data.iloc[3:6]

3      R.J. Hunter
4    Jonas Jerebko
5     Amir Johnson
Name: Name, dtype: object

### Binary Operation on Series

In [47]:
# importing pandas module  
import pandas as pd  
 
# creating a series with Default indexs
data = pd.Series([5, 2, 3,7])
 
# creating a series with User defined Indexs
data1 = pd.Series([1, 6, 4, 9], index=['a', 'b', 'd', 'e'])
 
print("creating a series with Default indexs \n",data, "\n\n","creating a series with User defined Indexs\n", data1)

creating a series with Default indexs
 0    5
1    2
2    3
3    7
dtype: int64

 creating a series with User defined Indexs
 a    1
b    6
d    4
e    9
dtype: int64

In [62]:
#Now we subtract two series using .sub function.
# subtracting two series using
# .sub
print(data1,"Data one\n",data,"Data")
#print(data1)
data1.sub(data, fill_value=1)

a    1
b    6
d    4
e    9
dtype: int64 Data one
 0    5
1    2
2    3
3    7
dtype: int64 Data

a    0.0
b    5.0
d    3.0
e    8.0
0   -4.0
1   -1.0
2   -2.0
3   -6.0
dtype: float64

### Conversion Operation on Series

In [64]:

# Python program using astype to convert a datatype of series
 
# importing pandas module  
import pandas as pd 
   
# reading csv file from url  
#print(data)
# dropping null value columns to avoid errors 
data.dropna(inplace = True) 
   
# storing dtype before converting 
before = data.dtypes 
   
# converting dtypes using astype 
data["Salary"]= data["Salary"].astype(int) 
data["Number"]= data["Number"].astype(str) 
   
# storing dtype after converting 
after = data.dtypes 
   
# printing to compare 
print("BEFORE CONVERSION\n", before, "\n") 
print("AFTER CONVERSION\n", after, "\n")

BEFORE CONVERSION
 Name         object
Team         object
Number        int64
Position     object
Age           int64
Height       object
Weight        int64
College      object
Salary      float64
dtype: object

AFTER CONVERSION
 Name        object
Team        object
Number      object
Position    object
Age          int64
Height      object
Weight       int64
College     object
Salary       int32
dtype: object

In [ ]:
# Python program converting
# a series into list
 
# importing pandas module  
import pandas as pd  
   
# importing regex module 
import re 
     
# making data frame  
data = pd.read_csv("Data/nba.csv")  
     
# removing null values to avoid errors  
data.dropna(inplace = True)  
   
# storing dtype before operation 
dtype_before = type(data["Salary"]) 
   
# converting to list 
salary_list = data["Salary"].tolist() 
   
# storing dtype after operation 
dtype_after = type(salary_list) 
   
# printing dtype 
print("Data type before converting = {}\nData type after converting = {}"
      .format(dtype_before, dtype_after)) 
   
# displaying list 
salary_list

### Binary operation methods on series:

| Method  | Description   |
|------|------|
|add()|Method is used to add series or list like objects with same length to the caller series|
|sub()|Method is used to subtract series or list like objects with same length from the caller series|
|mul()|Method is used to multiply series or list like objects with same length with the caller series|
|div()|Method is used to divide series or list like objects with same length by the caller series|
|sum()|Returns the sum of the values for the requested axis|
|prod()|Returns the product of the values for the requested axis|
|mean()|	Returns the mean of the values for the requested axis|
|pow()|Method is used to put each element of passed series as exponential power of caller series and returned the results|
|abs()|Method is used to get the absolute numeric value of each element in Series/DataFrame|
|cov()|Method is used to find covariance of two series|

### Pandas series method:

| FUNCTION  | DESCRIPTION  |
|------|------|
|Series()|A pandas Series can be created with the Series() constructor method. This constructor method accepts a variety of inputs|
|combine_first()|Method is used to combine two series into one|
|count()|Returns number of non-NA/null observations in the Series|
|size()|	Returns the number of elements in the underlying data|
|name()|	Method allows to give a name to a Series object, i.e. to the column|
|is_unique()|	Method returns boolean if values in the object are unique|
|idxmax()	|Method to extract the index positions of the highest values in a Series|
|idxmin()	|Method to extract the index positions of the lowest values in a Series|
|sort_values()|	Method is called on a Series to sort the values in ascending or descending order|
|sort_index()|	Method is called on a pandas Series to sort it by the index instead of its values|
|head()	|Method is used to return a specified number of rows from the beginning of a Series. The method returns a brand new Series|
|tail()	|Method is used to return a specified number of rows from the end of a Series. The method returns a brand new Series|
|le()|Used to compare every element of Caller series with passed series.It returns True for every element which is Less than or Equal to the element in passed series|
|ne()|Used to compare every element of Caller series with passed series. It returns True for every element which is Not Equal to the element in passed series|
|ge()|Used to compare every element of Caller series with passed series. It returns True for every element which is Greater than or Equal to the element in passed series|
|eq()|Used to compare every element of Caller series with passed series. It returns True for every element which is Equal to the element in passed series|
|gt()|Used to compare two series and return Boolean value for every respective element|
|lt()|Used to compare two series and return Boolean value for every respective element|
|clip()|Used to clip value below and above to passed Least and Max value|
|clip_lower()|Used to clip values below a passed least value|
|clip_upper()|Used to clip values above a passed maximum value|
|astype()|Method is used to change data type of a series|
|tolist()|Method is used to convert a series to list|
|get()	|Method is called on a Series to extract values from a Series. This is alternative syntax to the traditional bracket| syntax |
|unique()|Pandas unique() is used to see the unique values in a particular column|
|nunique()|Pandas nunique() is used to get a count of unique values|
|value_counts()	|Method to count the number of the times each unique value occurs in a Series|
|factorize()|Method helps to get the numeric representation of an array by identifying distinct values|
|map()|Method to tie together the values from one object to another|
|between()|Pandas between() method is used on series to check which values lie between first and second argument|
|apply()|Method is called and feeded a Python function as an argument to use the function on every Series value. This method is helpful for executing custom operations that are not included in pandas or numpy|