In [1]:
import pandas as pd
import sqlite3
#from mpl_toolkits.basemap import Basemap
import matplotlib.pyplot as plt

In [2]:
conn = sqlite3.connect("Data/flights.db")
df = pd.read_sql_query("select * from airlines limit 5;", conn)
df

,index,id,name,alias,iata,icao,callsign,country,active
0,0,1,Private flight,\N,-,None,None,None,Y
1,1,2,135 Airways,\N,None,GNL,GENERAL,United States,N
2,2,3,1Time Airline,\N,1T,RNX,NEXTIME,South Africa,Y
3,3,4,2 Sqn No 1 Elementary Flying Training School,\N,None,WYT,None,United Kingdom,N
4,4,5,213 Flight Unit,\N,None,TFU,None,Russia,N

In [ ]:
df['country']

In [4]:
routes = pd.read_sql_query("""
select cast(sa.longitude as float) as source_lon,
cast(sa.latitude as float) as source_lat,
cast(da.longitude as float) as dest_lon,
cast(da.latitude as float) as dest_lat
from routes
inner join airports sa on sa.id = routes.source_id
inner join airports da on da.id = routes.dest_id;
""",
conn)
print(routes)

       source_lon  source_lat    dest_lon   dest_lat
0       39.956589   43.449928   49.278728  55.606186
1       48.006278   46.283333   49.278728  55.606186
2       48.006278   46.283333   43.081889  44.225072
3       61.503333   55.305836   49.278728  55.606186
4       61.503333   55.305836   82.650656  55.012622
5       37.906111   55.408611   49.278728  55.606186
6       37.906111   55.408611   52.060000  55.340000
7       37.906111   55.408611   52.801700  54.640000
8       36.590100   50.643800   20.592633  54.890050
9       36.590100   50.643800   49.278728  55.606186
10      50.046667   40.467500   52.060000  55.340000
11      20.592633   54.890050   36.590100  50.643800
12      49.278728   55.606186   39.956589  43.449928
13      49.278728   55.606186   48.006278  46.283333
14      49.278728   55.606186   61.503333  55.305836
15      49.278728   55.606186   37.906111  55.408611
16      49.278728   55.606186   36.590100  50.643800
17      49.278728   55.606186   30.262503  59.800292
18      49.278728   55.606186   60.802728  56.743108
19      30.262503   59.800292   49.278728  55.606186
20      30.262503   59.800292   52.060000  55.340000
21      30.262503   59.800292   52.801700  54.640000
22      43.081889   44.225072   48.006278  46.283333
23      52.060000   55.340000   37.906111  55.408611
24      52.060000   55.340000   50.046667  40.467500
25      52.060000   55.340000   30.262503  59.800292
26      52.060000   55.340000   60.802728  56.743108
27      76.483617   60.949272   60.802728  56.743108
28      76.483617   60.949272   52.801700  54.640000
29      76.313938   66.041811   60.802728  56.743108
...           ...         ...         ...        ...
67172  151.177222  -33.946111  146.958056 -36.067778
67173  151.177222  -33.946111  151.617222 -30.528056
67174  151.177222  -33.946111  141.472000 -32.001400
67175  151.177222  -33.946111  149.652000 -33.409400
67176  151.177222  -33.946111  153.562500 -28.833889
67177  151.177222  -33.946111  148.574722 -32.216667
67178  151.177222  -33.946111  146.067000 -34.250800
67179  151.177222  -33.946111  153.260000 -28.830300
67180  151.177222  -33.946111  149.901000 -36.908600
67181  151.177222  -33.946111  142.086000 -34.229200
67182  151.177222  -33.946111  150.144000 -35.897800
67183  151.177222  -33.946111  146.512000 -34.702200
67184  151.177222  -33.946111  151.830000 -32.780000
67185  151.177222  -33.946111  149.133000 -33.381700
67186  151.177222  -33.946111  148.239000 -33.131400
67187  151.177222  -33.946111  152.514000 -31.888600
67188  151.177222  -33.946111  147.466389 -35.165278
67189  152.514000  -31.888600  153.030000 -29.759400
67190  152.514000  -31.888600  151.177222 -33.946111
67191  146.765278  -19.252500  139.488611 -20.663889
67192  146.765278  -19.252500  143.086000 -22.363600
67193  147.466389  -35.165278  144.843333 -37.673333
67194  147.466389  -35.165278  151.177222 -33.946111
67195  143.086000  -22.363600  144.280000 -23.434200
67196  143.086000  -22.363600  146.765278 -19.252500
67197  137.514000  -33.058900  138.530556 -34.945000
67198   37.906111   55.408611   74.477556  43.061306
67199   74.477556   43.061306   37.906111  55.408611
67200   74.477556   43.061306   72.793269  40.608989
67201   72.793269   40.608989   74.477556  43.061306

[67202 rows x 4 columns]

In [ ]:
m = Basemap(
projection='merc',
llcrnrlat=-80,
urcrnrlat=80,
llcrnrlon=-180,
urcrnrlon=180,
lat_ts=20,
resolution='c'
)
m.drawcoastlines()

In [ ]:
for name, row in routes[:3000].iterrows():
    if abs(row["source_lon"] - row["dest_lon"]) < 90:
        # Draw a great circle between source and dest airports.
        m.drawgreatcircle(
            row["source_lon"],
            row["source_lat"],
            row["dest_lon"],
            row["dest_lat"],
            linewidth=1,
            color='b')

In [5]:
ur = conn.cursor()
cur.execute("create table daily_flights (id integer, departure date, arrival date, number text, route_id integer)")
conn.commit()

NameError: name 'cur' is not defined

In [ ]:
cur.execute("insert into daily_flights values (11, '2018-09-28 0:00', '2018-09-28 12:00', 'T1', 1)")
conn.commit()

In [ ]:
pd.read_sql_query("select * from daily_flights;", conn)

In [ ]:
df = pd.read_sql("select * from daily_flights", conn)
df["delay_minutes"] = None
df.to_sql("daily_flights", conn, if_exists="replace")

In [ ]:
df