In [5]:
import matplotlib.pyplot as plt 
import pandas as pd
import numpy as np

In [6]:
dff = pd.DataFrame({'A': np.arange(8), 'B': list('aabbbbcc')})
print(dff)

   A  B
0  0  a
1  1  a
2  2  b
3  3  b
4  4  b
5  5  b
6  6  c
7  7  c

In [11]:
dff.groupby('B').filter(lambda x: len(x) > 2)

   A  B
2  2  b
3  3  b
4  4  b
5  5  b

In [14]:
grouped = dff.groupby('B')
grouped.agg(lambda x: x.var())

          A
B
a  0.500000
b  1.666667
c  0.500000

In [22]:
grouped = dff.groupby('B')
grouped.agg(lambda x: x.std())

          A
B
a  0.707107
b  1.290994
c  0.707107